<a href="https://colab.research.google.com/github/rahmatrians/scratching-naive-bayes/blob/main/TB2_MATH_TOOLS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#memasukan data latih
datalatih = pd.read_excel("data_test.xlsx")
datalatih.head(11)

    Warna   Tipe      Asal Tercuri
0   merah  Sport  Domestik      ya
1   merah  Sport  Domestik   tidak
2   merah  Sport  Domestik      ya
3  kuning  Sport  Domestik   tidak
4  kuning  Sport    Import      ya
5  kuning    Suv    Import   tidak
6  kuning    Suv    Import      ya
7  kuning    Suv  Domestik   tidak
8   merah    Suv    Import   tidak
9   merah  Sport    Import      ya

In [ ]:
#cutting data by rows
def cutting(data):
    seen = set()
    seen_add = seen.add
    return [x for x in data if not (x in seen or seen_add(x))]

In [ ]:
lastColumn = datalatih.iloc[ :, -1:]

In [ ]:
# 1
tercuriCount =  datalatih.groupby(datalatih.columns[-1])[datalatih.columns[-1]].count()
print(tercuriCount)

Tercuri
tidak    5
ya       5
Name: Tercuri, dtype: int64

In [ ]:
tercuri = cutting(datalatih['Tercuri'])

In [ ]:
p1 = tercuriCount[0]/lastColumn.count()
p2 = tercuriCount[0]/lastColumn.count()

In [ ]:
tercuriDf = pd.DataFrame({'name': tercuri,
           'value': [p1,p2]})

tercuriDf

    name                          value
0     ya  Tercuri    0.5
dtype: float64
1  tidak  Tercuri    0.5
dtype: float64

In [ ]:
warnaCount = datalatih.groupby(datalatih.columns[1])[datalatih.columns[1]].count()
print(warnaCount)

Tipe
Sport    6
Suv      4
Name: Tipe, dtype: int64

In [ ]:
columnsData = []
for x in len(datalatih.columns) :
  columnsData.append()

In [ ]:
# 2
warnaCount = datalatih.groupby('Warna')['Warna'].count()
print(warnaCount)

print("\n")

tipeCount =  datalatih.groupby('Tipe')['Tipe'].count()
print(tipeCount)

print("\n")

asalCount =  datalatih.groupby('Asal')['Asal'].count()
print(asalCount)

Warna
kuning    5
merah     5
Name: Warna, dtype: int64


Tipe
Sport    6
Suv      4
Name: Tipe, dtype: int64


Asal
Domestik    5
Import      5
Name: Asal, dtype: int64

In [ ]:
merah = len(datalatih[(datalatih['Warna'] == 'merah') & (datalatih['Tercuri'] == 'ya')])
print(merah)

print("\n")

suv = len(datalatih[(datalatih['Tipe'] == 'Suv') & (datalatih['Tercuri'] == 'ya')])
print(suv)

print("\n")

domestik = len(datalatih[(datalatih['Asal'] == 'Domestik') & (datalatih['Tercuri'] == 'ya')])

print(domestik)

In [ ]:
ya1 = merah/tercuriCount[1]
ya2 = suv/tercuriCount[1]
ya3 = domestik/tercuriCount[1]

resultYa = tercuriDf['value'][0] * ya1 * ya2 * ya3
print(resultYa)

In [ ]:
merah = len(datalatih[(datalatih['Warna'] == 'merah') & (datalatih['Tercuri'] == 'tidak')])
print(merah)

print("\n")

suv = len(datalatih[(datalatih['Tipe'] == 'Suv') & (datalatih['Tercuri'] == 'tidak')])
print(suv)

print("\n")

domestik = len(datalatih[(datalatih['Asal'] == 'Domestik') & (datalatih['Tercuri'] == 'tidak')])

print(domestik)

In [ ]:
no1 = merah/tercuriCount[1]
no2 = suv/tercuriCount[1]
no3 = domestik/tercuriCount[1]

resultNo = tercuriDf['value'][1] * no1 * no2 * no3
print(resultNo)